

.menu {
  background-color: whitesmoke;

  border-style: inset;
}

.App {
  display: flex;
  height: 105vh;
}

.titulo {
  text-align: center;
}

.contenido {
  background-color: lightblue;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.enlaces {
  display: flex;
  margin-top: 100px;
  text-align: center;
  width: 60%;
  height: 40px;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-style: ridge;
  width: 100%;


}

.tarjetas {
  height: 80%;
  display: flex;
  width: 10cm;
  justify-content: space-between;
  background-color: whitesmoke;
  margin-top: 60px;
}
